<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE  mapper
PUBLIC "-//mybatis.org.//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.BoardMapper">
	<select id="getList" resultType="org.zerock.domain.BoardVO">
		<![CDATA[SELECT * FROM tbl_board where bno >0]]>
	</select>
	
	<insert id="insert"> <!-- mapper에 있는 메소드 이름과 같은 id로 -->
	
		insert into tbl_board (bno, title, content, writer)
		values (seq_board.nextval, #{title}, #{content}, #{writer}) <!--  다음 번호에 추가 -->
	
	</insert>
	
	<insert id="insetSelectKey">
		<selectKey keyProperty="bno" order="BEFORE"   
		resultType="long">                           <!--  원하는 번호에 추가 -->
		select seq_board.nextval from dual
		</selectKey>
		
		insert into tbl_board (bno, title, content, writer)
		values ( #{bno}, #{title}, #{content}, #{writer})
	</insert>
	
	<select id="read" resultType="org.zerock.domain.BoardVO">
		select * from tbl_board where bno = #{bno}
	</select>
	
	<delete id="delete">
		delete from tbl_board where bno = #{bno}
	</delete>
	<update id="update">
		update tbl_board
		set title = #{title},
		content = #{content},
		writer = #{writer},
		updateDate = sysdate
		where bno = #{bno}
	</update>

</mapper>